
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #E6FFFD;
}

/* Main Content */
main {
    background-color: #D0FFD6;
}

/* Footer */
footer {
    background-color: #FF9F66;
}